<p id="notice"><%= notice %></p>

<p>
  <b>Order name:</b>
  <%= @order.order_name %>
</p>

<p>
  <b>Order date:</b>
  <%= @order.order_date %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
